body {
    padding: 0;
    margin: 0;
    background: #16BFFD;
    background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);
    background: linear-gradient(to right, #CB3066, #16BFFD);

}

.home {
    color: white;
}