.header {
  padding: 42px 0;
  .app_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_left {
      img {
        cursor: pointer;
      }
    }

    &_right {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        align-items: center;
        width: 498px;
        justify-content: space-between;

        li {
          transition: 0.4s;
          &:hover {
            transform: scale(1.1);
            transition: 0.4s;
            a {
              color: $color-blue100;
            }
          }

          a {
            font-size: 1rem;
            font-weight: 400;
            color: #333333;
          }
        }

        .active {
          font-weight: 700;
        }
      }
      
      button {
        margin-left: 74px;
        // @include button($blue100, none, white, none);
        background-color: #2c3878;
        color: white;
        border: none;
        padding: 14px 32px;
        cursor: pointer;

        &:hover {
          background-color: #566093;
        }
      }
    }
  }
}
