@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&family=Poppins:wght@300;600;900&display=swap");
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

html {
  font-size: 16px; }

.colorSettings {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }
  .colorSettings i {
    animation: chearAnim 1s linear infinite;
    font-size: 20px;
    color: #2e2e2e; }

@keyframes chearAnim {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

header button {
  width: 60px;
  height: 60px;
  background-color: #353535;
  border-radius: 50%;
  z-index: 0;
  border: none;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 30px;
  left: 30px;
  box-shadow: 0 0 10px #282828; }
  header button i {
    z-index: 1;
    font-size: 18px; }

body {
  position: relative; }
  body .app {
    background: url(../../img/leftimage-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover; }
    body .app::after {
      content: "";
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
      opacity: .8; }
  body .pg__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-39%, 66%); }
    body .pg__content__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      body .pg__content__wrapper__left {
        width: 320px; }
        body .pg__content__wrapper__left__imgBox {
          border-radius: 50%;
          overflow: hidden;
          border: 10px solid rgba(255, 255, 255, 0.1);
          display: flex;
          justify-content: center;
          align-items: center; }
          body .pg__content__wrapper__left__imgBox img {
            width: 300px; }
      body .pg__content__wrapper__right {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Open Sans", sans-serif;
        width: 553px;
        margin-left: 45px; }
        body .pg__content__wrapper__right h5 {
          font-weight: 400;
          font-size: 1.2rem; }
        body .pg__content__wrapper__right p {
          font-size: 1rem;
          line-height: 32px;
          font-weight: 400;
          margin: 11px 0 23px; }
        body .pg__content__wrapper__right span {
          font-size: 42px;
          font-weight: 600;
          margin: 19px 0 10px;
          font-size: 2.6rem;
          font-family: 'Poppins', sans-serif; }
          body .pg__content__wrapper__right span h1 {
            display: inline;
            transition: .5s;
            font-size: 2.6rem;
            line-height: 42px;
            font-weight: 800;
            font-family: "Open Sans";
            color: #2196F3; }
            body .pg__content__wrapper__right span h1::after {
              content: "A FREELANCER";
              animation: anim 10s infinite;
              transition: .5s; }

@keyframes anim {
  30% {
    content: "A BLOGGER";
    transition: .5s; }
  60% {
    content: "A WEB DESIGNER";
    transition: .5s; }
  100% {
    content: "DARIA TAYLOR";
    transition: .5s; } }
        body .pg__content__wrapper__right div {
          display: flex; }
          body .pg__content__wrapper__right div .aboutBtn {
            display: flex;
            align-items: center;
            padding: 15px 33px;
            background-color: #2196F3;
            color: white;
            border: 1px solid transparent;
            border: 0;
            font-weight: 600;
            border-radius: 26px;
            margin-right: 25px;
            font-size: 0.9rem;
            letter-spacing: 1px;
            cursor: pointer;
            text-decoration: none; }
            body .pg__content__wrapper__right div .aboutBtn i {
              margin-right: 10px; }
          body .pg__content__wrapper__right div .portfolioBtn {
            display: flex;
            align-items: center;
            padding: 15px 33px;
            background-color: transparent;
            color: #2196F3;
            border: 1px solid #2196F3;
            border: 1p;
            font-weight: 600;
            border-radius: 26px;
            margin-right: 25px;
            font-size: 0.9rem;
            letter-spacing: 1px;
            cursor: pointer;
            text-decoration: none; }
            body .pg__content__wrapper__right div .portfolioBtn i {
              margin-right: 10px; }

.bodyForResponsive {
  display: none;
  background-color: #222;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
  column-gap: 20px;
  row-gap: 20px;
  padding: 24px; }
  .bodyForResponsive a {
    text-decoration: none;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s; }
    .bodyForResponsive a .bodyForResponsive__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 1.8rem;
      row-gap: 25px;
      color: white; }
      .bodyForResponsive a .bodyForResponsive__content i {
        color: #2196F3;
        font-size: 2rem; }
    .bodyForResponsive a:hover h4 {
      color: #2196F3;
      transition: .4s; }

@media (max-width: 1030px) {
  .app {
    transform: translateX(100%);
    transition: 1s;
    display: none !important; }
  .bodyForResponsive {
    display: grid !important; } }

.app__about {
  background-color: #222;
  width: 100%; }
  .app__about .app__content__top {
    width: 1170px;
    margin: 0 auto; }
    .app__about .app__content__top .app__content__top__title {
      padding: 60px 0 54px 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .app__about .app__content__top .app__content__top__title h1 {
        font-size: 3.5rem;
        color: white;
        font-weight: 900;
        font-family: 'Poppins', sans-serif; }
        .app__about .app__content__top .app__content__top__title h1 span {
          color: #007bff; }
      .app__about .app__content__top .app__content__top__title .app__content__top__title__text {
        display: flex;
        margin-top: 20px;
        align-items: center; }
        .app__about .app__content__top .app__content__top__title .app__content__top__title__text span {
          font-size: 0.9rem;
          color: #fff;
          font-family: 'Open Sans', sans-serif;
          padding: 0 20px; }
        .app__about .app__content__top .app__content__top__title .app__content__top__title__text div {
          width: 30px;
          height: 2px;
          background-color: #007bff; }
    .app__about .app__content__top__info {
      padding: 0 30px;
      display: flex; }
      .app__about .app__content__top__info__left {
        padding: 0 15px;
        width: 570px;
        display: flex;
        justify-content: center; }
        .app__about .app__content__top__info__left .squad_line {
          position: relative;
          width: fit-content;
          height: fit-content; }
          .app__about .app__content__top__info__left .squad_line img {
            z-index: 1 !important;
            width: 440px; }
          .app__about .app__content__top__info__left .squad_line:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border: 6px solid #007bff;
            transform: translate(26px, 26px);
            z-index: -1; }
      .app__about .app__content__top__info__right {
        width: 570px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px; }
        .app__about .app__content__top__info__right__list {
          display: flex;
          align-items: center; }
          .app__about .app__content__top__info__right__list ul {
            font-family: 'Open Sans', sans-serif;
            padding: 0 15px; }
            .app__about .app__content__top__info__right__list ul li {
              font-family: 'Open Sans', sans-serif;
              font-weight: 400;
              color: rgba(255, 255, 255, 0.8);
              font-size: 1rem;
              width: 240px;
              padding-bottom: 28px; }
              .app__about .app__content__top__info__right__list ul li span {
                margin-left: 20px;
                color: #fff; }
        .app__about .app__content__top__info__right button {
          display: flex;
          align-items: center;
          padding: 15px 33px;
          background-color: #2196F3;
          color: white;
          border: 1px solid transparent;
          border: 0;
          font-weight: 600;
          border-radius: 26px;
          margin-right: 25px;
          font-size: 0.9rem;
          letter-spacing: 1px;
          cursor: pointer;
          text-decoration: none;
          width: fit-content;
          margin-left: 15px;
          margin-top: 8px; }
          .app__about .app__content__top__info__right button i {
            margin-right: 10px; }
