body {
    position: relative;
}

.footer {
    width: 100% !important;
    position: absolute;
    bottom: 0;
    left: 0;

    &__body {
        width: 100%;
        background-color:#1976d2 !important;
        display: flex;
        justify-content: space-around !important;
        button {
            color: white !important;

            span {
                color: white !important;
                font-size: 22px !important;
            }

        }
    }
}