.map {
    &__wrapper {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;

        &__left {
            width: 135%;
            &__list {
                padding: 18px 0;
                border: 1px solid rgb(202, 202, 202);
                border-top: 0;
                width: 268px;
                li {
                    text-decoration: none;
                    padding: 10px 25px;
                    gap: 10px;
                    display: flex;
                    align-items: center;
                    width: fit-content;

                    a {
                        text-decoration: none;
                        color: rgb(62, 68, 90);
                        font-size: .8rem;
                        display: flex;

                        .mapChev {
                            font-size: 10px !important;
                        }

                    }

                    i {
                        color: rgb(113, 114, 119);

                        &:first-child {
                            margin-right: 10px;
                            font-size: 18px;
                        }
                    }

                    &:hover {

                        a,
                        i {

                            opacity: .7;
                            transition: .4s;
                            color: #2bbef9;
                        }
                    }

                }
            }

            &__bottom {
                padding: 18px 0;
                border: 1px solid rgb(202, 202, 202);
                border-top: 0;
                width: 268px;

                li {
                    padding: 10px 25px;
                    transition: .4s;
                    width: fit-content;

                    a {
                        text-decoration: none;
                        font-size: .8rem;
                        color: rgb(62, 68, 90);
                        font-weight: 500;
                        transition: .4s;
                    }

                    &:hover {
                        a {

                            opacity: .7;
                            transition: .4s;
                            color: #2bbef9;
                        }
                    }
                }
            }
        }

        &__right {
            padding: 10px;
            background-color: none;
            height: 486px;
            overflow: hidden;

            .owl-carousel {
                .owl-item {
                    background: none !important;
                }

                a {
                    position: relative;

                    .map__wrapper__right__contentOnImage {
                        position: absolute;
                        top: 17%;
                        left: 10%;

                        span {
                            font-size: 2rem;
                            font-weight: 500;
                            font-size: 0.75rem;
                            font-family: "Dosis", sans-serif;
                            letter-spacing: 1px;
                            color: rgb(32, 36, 53)
                        }

                        .map__discount {
                            margin-left: 10px;
                            padding: 8px 20px;
                            border-radius: 20px;
                            color: #038e42;
                            background: rgb(85, 199, 146);
                            background: -moz-linear-gradient(left, rgba(85, 149, 146, 1) 0%, rgb(172, 241, 158) 0%, rgba(170, 249, 159, 0.85) 25%, rgba(183, 251, 178, 0.82) 46%, rgba(207, 254, 213, 0.78) 84%, rgba(217, 255, 227, 0.76) 99%, rgba(255, 255, 255, 0.76) 100%);
                            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(85, 199, 146, 1)), color-stop(0%, rgba(154, 247, 136, 1)), color-stop(25%, rgba(170, 249, 159, 0.85)), color-stop(46%, rgba(183, 251, 178, 0.82)), color-stop(84%, rgba(207, 254, 213, 0.78)), color-stop(99%, rgba(217, 255, 227, 0.76)), color-stop(100%, rgba(255, 255, 255, 0.76)));
                            background: -webkit-linear-gradient(left, rgba(85, 149, 146, 1) 0%, rgba(172, 241, 158, 1) 0%, rgba(170, 249, 159, 0.85) 25%, rgba(183, 251, 178, 0.82) 46%, rgba(207, 254, 213, 0.78) 84%, rgba(217, 255, 227, 0.76) 99%, rgba(255, 255, 255, 0.76) 100%);
                            background: -o-linear-gradient(left, rgba(85, 149, 146, 1) 0%, rgba(172, 241, 158, 1) 0%, rgba(170, 249, 159, 0.85) 25%, rgba(183, 251, 178, 0.82) 46%, rgba(207, 254, 213, 0.78) 84%, rgba(217, 255, 227, 0.76) 99%, rgba(255, 255, 255, 0.76) 100%);
                            background: -ms-linear-gradient(left, rgba(85, 149, 146, 1) 0%, rgba(172, 241, 158, 1) 0%, rgba(170, 249, 159, 0.85) 25%, rgba(183, 251, 178, 0.82) 46%, rgba(207, 254, 213, 0.78) 84%, rgba(217, 255, 227, 0.76) 99%, rgba(255, 255, 255, 0.76) 100%);
                            background: linear-gradient(to right, rgba(85, 149, 146, 1) 0%, rgba(172, 241, 158, 1) 0%, rgba(170, 249, 159, 0.85) 25%, rgba(183, 251, 178, 0.82) 46%, rgba(207, 254, 213, 0.78) 84%, rgba(217, 255, 227, 0.76) 99%, rgba(255, 255, 255, 0.76) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55c768', endColorstr='#ffffff', GradientType=1);
                        }

                        h1 {
                            font-weight: 700;
                            font-size: 2.8rem;
                            color: rgb(32, 36, 53);
                            width: 410px;
                            padding: 20px 0 15px 0;
                            line-height: 60px;
                        }

                        p {
                            color: rgb(32, 36, 53);
                            font-weight: 400;
                            font-size: 1rem;
                            padding-bottom: 40px;
                        }

                        .map__wrapper__right__price {
                            color: rgb(213, 18, 67);
                            font-size: 2.3rem;
                            font-weight: 600;
                        }

                        div {
                            display: flex;
                            margin-bottom: 10px;
                        }

                        button {
                            padding: 12px 23px;
                            background-color: #2bbef9;
                            border: none;
                            border-radius: 20px;
                            color: white;
                            font-size: 14px;

                            i {
                                color: white !important;
                            }
                        }
                    }
                }
            }
        }
    }



    @media(max-width:1200px) {
        .container {
            width: 100%;
        }

        .map {
            &__wrapper {
                &__left {
                    display: none;
                }

                &__right {}
            }
        }

    }

    @media(max-width:992px) {
        .container {
            width: 100%;
        }

        .map {
            &__wrapper {
                &__left {
                    display: none;
                }

                &__right {
                    .owl-carousel {
                        img {
                            object-fit: cover;
                            object-position: center;
                        }

                        .owl-item {
                            width: 100%;
                            height: 267px;
                            padding: 0;
                        }

                        a {
                            position: relative;

                            .map__wrapper__right__contentOnImage {
                                position: absolute;
                                top: 5%;
                                left: 10%;

                                .map__discount {
                                    margin-left: 10px;
                                    padding: 0 20px;
                                }

                                h1 {
                                    font-size: 1.5rem;
                                    padding: 0;
                                }

                                p {
                                    padding-bottom: 30px;
                                }

                            }

                        }
                    }

                }
            }
        }

    }

    @media(max-width:765px) {
        .container {
            width: 100%;
        }

        .map {
            &__wrapper {
                &__left {
                    display: none;
                }

                &__right {
                    height: fit-content;

                    .owl-carousel {
                        img {
                            object-fit: cover;
                            object-position: center;
                        }

                        .owl-item {
                            width: 100%;
                            height: 267px;
                            padding: 0;
                        }

                        a {
                            position: relative;

                            .map__wrapper__right__contentOnImage {
                                position: absolute;
                                top: 5%;
                                left: 10%;

                                .map__discount {
                                    margin-left: 10px;
                                    padding: 0 20px;
                                }

                                h1 {
                                    font-size: 1.5rem;
                                    padding: 0;
                                }

                                p {
                                    padding-bottom: 30px;
                                }

                            }

                        }
                    }

                }
            }
        }

    }
}

.bestSellers {
    padding: 30px 15px;
    display: flex;

    &__left {
        .bannerLeft {
            position: relative;
            margin-bottom: 50px;
            height: fit-content;
        }

        img {
            width: 270px;
            border-radius: 6px;
        }

        &__content {
            position: absolute;
            top: 40px;
            left: 40px;
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: black;

            .bestSellers__left__content_title--modified {
                color: #9b9bb4;
            }

            button {
                padding: 10px 20px;
                width: fit-content;
                background-color: #2bbef9;
                border: none;
                border-radius: 20px;
                color: white;
                font-size: 12px;
                margin-top: 15px;

                i {
                    color: white !important;
                }
            }

            h6 {
                margin-bottom: 15px;
                font-size: 0.81rem;
                color: white;
            }

            h5 {
                font-weight: 200;
                font-size: 1.4rem;
                margin-bottom: 5px;
            }

            h4 {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 5px;
            }

            .besrSells_onlyForm {
                font-weight: 400;
                font-size: 0.75rem;
            }

            span {
                margin-top: 15px;
            }

            .bestSellers_price {
                margin-top: 10px;
                color: rgb(213, 18, 67);
                font-weight: 600;
                font-family: "Dosis", sans-serif;
                font-size: 1.9rem;
            }
        }
    }

    &__right {
        width: 100%;
        padding: 0 28px;

        &__top {
            display: flex;
            justify-content: space-between;

            a {
                text-decoration: none;
                padding: 5px 20px;
                border: 1px solid #9b9bb4;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #9b9bb4;
                font-size: 12px;
                gap: 10px;
                transition: .3s;

                i {
                    font-size: 12px;
                }

                &:hover {
                    color: black;
                    transition: .3s;
                }
            }

            h4 {
                font-size: 1.25rem;
                font-family: "Dosis", sans-serif;
                font-weight: 600;
            }

            p {
                font-size: .75rem;
                color: #9b9bb4;
                padding-top: 5px;
            }
        }

        &__bottom {
            margin-top: 30px;
            display: flex;
            position: relative;
            width: 100% !important;
            .sliderbtn {
                border: none;
                background-color: white;
                padding: 10px;
                height: fit-content;
                box-shadow: 0 0 5px #9c9c9c;
                border-radius: 50%;
                position: absolute;
                z-index: 10;

                i {
                    transition: .4s;
                    color: #9b9bb4;
                }
            }

            .sliderLeft {
                transform: translate(-20px, 150px);

                &:hover {
                    i {
                        transform: translateX(-3px);
                        transition: .4s;
                        color: #2bbef9;

                    }
                }
            }

            .sliderRight {
                right: 0;
                transform: translate(20px, 150px);

                &:hover {
                    i {
                        transform: translateX(3px);
                        transition: .4s;
                        color: #2bbef9;
                    }
                }
            }

            .product_carousel {

                .owl-nav,
                .owl-dots {
                    display: none;
                }

                .owl-stage-outer {}

                .owl-item {
                    background-color: transparent;
                }
            }
        }

        &__banner {
            margin-top: 40px;
            height: 126px;
            overflow: hidden;
            width: 80%;
            background: url(https://k4j3j2s7.rocketcdn.me/bacola/wp-content/plugins/bacola-core/elementor/images/banner-box2.jpg);
            background-repeat: no-repeat;
            background-position: right;
            background-color: #F8EFEA;
            border-radius: 10px;
            padding: 45px;

            span {
                color: rgb(156, 156, 156);
                font-size: .9rem;
                font-weight: 400px;
            }

            h4 {
                margin-top: 10px;
                color: #808088;
                font-weight: 600;
                font-size: 1.2rem;
                letter-spacing: -1px;
            }
        }

        &__timeDiscount {
            font-family: "Dosis", sans-serif;
            font-size: 1.25rem;
            width: 80%;

            &__title {
                margin: 30px 0;
                display: flex;
                justify-content: space-between;

                &__text {

                    h2 {
                        text-transform: uppercase;

                        span {
                            color: rgb(213, 18, 67);
                        }
                    }

                    p {
                        color: #9b9bb4;
                        font-size: 0.75rem;
                        font-family: "Inter", sans-serif;
                        font-weight: 400;
                        margin-top: 5px;
                    }
                }

                a {
                    @include button(transparent, 1px, #9b9bb4, #9b9bb4);
                }
            }

            &__block {
                width: 100%;
                border: 1px solid rgb(213, 18, 67);
                border-radius: 6px;
                display: flex;
                padding: 20px;
                cursor: pointer;

                &__left {
                    width: 180px;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    img {
                        // width;
                    }

                    .discount_percent {
                        padding: 20px 15px;
                        position: absolute;
                        background-color: #ed174a;
                        border-radius: 50%;
                        color: white;
                        top: 0;
                        left: 0;
                    }
                }

                &__right {
                    padding: 0 18px 18px;
                    width: 100%;

                    &__price {
                        margin-bottom: 15px;

                        .lastPrice {
                            text-decoration: line-through;
                            color: #c2c2d3;
                            font-size: 0.9rem;
                        }

                        .newPrice {
                            color: #d51243;
                            font-size: 18px;
                            padding-left: 5px;
                        }
                    }

                    &__title {
                        margin-bottom: 8px;
                        font-weight: 500;
                        font-size: 1.2rem;
                        line-height: 25px;
                        color: #343436;
                    }

                    &__amount {
                        span {
                            font-size: 13px;
                            font-weight: 600;
                            color: #808088;

                            span {
                                margin-right: 2px;
                            }
                        }

                        .inStock {
                            font-size: 11px;
                            font-weight: 600;
                            color: #00b853;
                            padding-left: 5px;
                        }
                    }

                    &__range {
                        position: relative;
                        margin-top: 20px;
                        width: 100%;
                        padding: 5px;
                        border-radius: 20px;
                        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        background-color: #cfcfcf;

                        &:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 80%;
                            padding: 5px;
                            border-radius: 20px;
                            background: #d51243;
                            /* fallback for old browsers */
                            background: -webkit-linear-gradient(to left, #ffc500, #d51243);
                            /* Chrome 10-25, Safari 5.1-6 */
                            background: linear-gradient(to left, #ffc500, #d51243);

                            z-index: 1;
                        }
                    }

                    &__time {
                        display: flex;
                        margin-top: 20px;

                        span {
                            font-size: 14px;
                        }
                    }
                }


            }

        }
    }
}

@media(max-width:1200px) {
    .container {
        width: 100%;
    }

    .bestSellers {
        &__left {}

        &__right {
            &__top{

            }
            &__bottom{

            }

            &__banner{
                // width: 100%;
            }
            &__timeDiscount{
                // width: 100%;
            }
        }

    }
}

@media(max-width:992px) {
    .container {
        width: 100%;
    }

}

@media(max-width:765px) {
    .container {
        width: 100%;
    }

    .bestSellers {
        &__left {}

        &__right {
            &__top{

            }
            &__bottom{

            }

            &__banner{
                width: 100% !important;
            }
            &__timeDiscount{
                width: 100% !important;
            }
        }

    }

    .bestSellers__right__banner {
        height: fit-content;
        background-position: center;
    }

    .bestSellers__left {
        display: none !important;
    }

    .bestSellers__right__banner {
        width: 100%;
    }

}

.activeBtn {
    padding: 5px 18px;
    background-color: rgba(43, 190, 249, .1);
    color: #2bbef9;
    border-radius: 20px;

    i {
        color: #2bbef9 !important;
    }
}