header {
    .header__top {
        background-color: #233a95;
        width: 100%;

        &__covid {
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 0.75rem;

            span {
                font-weight: 700;
                margin: 0 5px;
            }
        }
    }

    .header__middle {
        border-bottom: 1px solid #edeef5;

        &__wrapper {
            display: flex;
            justify-content: space-between;
            height: 39px;
            align-items: center;
            color: #3e445a;
            font-size: 0.75rem;
            padding: 0 15px;

            &__left {
                display: flex;

                li {
                    margin-right: 15px;

                    a {
                        transition: .2s;
                        text-decoration: none !important;
                        color: black;
                        font-weight: 400;

                        &:hover {
                            color: #2bbef9;
                            transition: .2s;
                        }
                    }

                }
            }

            &__right {
                display: flex;
                align-items: center;
                color: #3e445a;
                font-weight: 400;

                &__first {
                    i {
                        font-size: 20px;
                        margin-right: 8px;
                    }
                }

                &__second {
                    margin: 0 18px;
                    padding-left: 18px;
                    border-left: 1px solid #edeef5;

                    a {
                        color: #2bbef9;
                        font-weight: 700;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                &__third {
                    display: flex;
                    align-items: center;
                    height: 39px;
                    padding-left: 18px;
                    border-left: 1px solid #edeef5;
                    gap: 15px;
                    transition: .2s;
                    font-weight: 500;

                    span {
                        cursor: pointer;
                        display: flex;
                        align-items: center;

                        i {
                            margin-left: 6px;
                            font-size: 7px;
                        }

                        &:hover {
                            color: #2bbef9;
                            transition: .2s;
                        }
                    }
                }
            }
        }
    }

    .header__bottom {
        padding: 0 15px;
        margin-top: 30px;
        display: flex;
        height: 62px;

        .respBurger {
            display: none;
        }

        &__left {
            font-size: 0.7rem;
            text-decoration: none;
            color: #bebec2;
            width: 180px;

            .respLogo {
                display: none;
            }

            h6 {
                margin-top: 3px;
            }

            img {
                width: 164px;
            }
        }

        &__middle {
            display: flex;
            gap: 30px;

            &__location {
                padding: 0 18px;
                width: 180px;
                display: flex;
                align-items: center;
                border: 1px solid #e0e0e4;
                border-radius: 6px;
                margin-left: 60px;
                justify-content: space-between;
                box-shadow: 0 0 3px #dadada;
                cursor: pointer;

                &__text {

                    h5 {
                        font-size: 0.65rem;
                        margin-bottom: 8px;
                        color: #bebec2;
                    }

                    h6 {
                        font-size: 0.8rem;
                        font-weight: 600;
                        font-family: "Inter";
                        color: #233a95;
                    }
                }

                i {
                    font-size: 10px;
                }
            }

            input {
                border-radius: 6px;
                border: none;
                padding: 0 15px;
                width: 553px;
                padding: 10px;

                &:focus {
                    outline: none;
                }
            }

            [placeholder~="Search"] {
                background: url(../../img/searchIcon.png);
                padding: 0 15px;
                background-position: 97%;
                background-repeat: no-repeat;
                background-color: #f1f2f7;
                background-size: 22px;
            }
        }

        &__right {
            display: flex;
            align-items: center;
            padding-left: 30px;
            width: 100%;
            gap: 15px;

            span {
                font-family: "Dosis", sans-serif;
            }

            &__user {
                padding: 12px;
                border: 1px solid #e0e0e2;
                border-radius: 50%;

                i {
                    font-size: 18px;
                }
            }

            &__cart {
                padding: 12px;
                border: 1px solid #fff1ee;
                background-color: #fff1ee;
                border-radius: 50%;
                position: relative;

                i {
                    color: #ea2b0f;
                }

                &__count {
                    padding: 4px;
                    border: 1px solid #ea2b0f;
                    background-color: #ea2b0f;
                    color: white;
                    border-radius: 50%;
                    position: absolute;
                    font-size: 10px;
                    top: -4px;
                    right: -4px;
                }
            }
        }


    }

    .header__tabs {
        height: 88px;
        margin-top: 9px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dedfe4;

        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;

            &__left {

                button {
                    position: relative;
                    padding: 15px 20px;
                    border-radius: 25px;
                    background-color: #2bbef9;
                    border: none;
                    color: white;
                    column-gap: 20px;
                    font-family: "Dosis", sans-serif;
                    font-size: 15px;
                    transition: .4s;
                    cursor: pointer;

                    &:hover {
                        opacity: .7;
                        transition: .4s;
                    }

                    i {
                        &:first-child {
                            padding-right: 15px;
                        }

                        &:last-child {
                            padding-left: 20px;
                        }
                    }

                    span {
                        position: absolute;
                        bottom: 0;
                        left: 20%;
                        color: #3e445a;
                        background-color: #faf8f8;
                        justify-items: center;
                        transform: translateY(50%);
                        border-radius: 25px;
                        font-size: 10px;
                        padding: 3px 10px;
                    }
                }
            }

            ul {
                display: flex;

                li {
                    // padding: 10px 18px;

                    a {
                        padding: 12px 20px;
                        text-decoration: none;
                        font-size: 0.9rem;
                        font-weight: 600;
                        font-family: "Dosis", sans-serif;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        transition: .4s;
                        color: #3e445a;

                        .btn_chev {
                            font-size: 12px;
                        }

                        i {
                            color: black;
                            font-size: 20px;
                        }

                        &:hover {
                            background-color: rgba(43, 190, 249, .1);
                            color: #2bbef9;
                            border-radius: 20px;

                            i {
                                color: #2bbef9;
                                transition: .4s;
                            }

                            transition: .4s;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1200px) {
    .container {
        width: 100%;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: white;
        padding-bottom: 15px;

        .header__middle,
        .header__tabs {
            display: none;
        }

        .header__bottom {
            display: flex;
            justify-content: space-between;

            .respBurger {
                display: block;
                border: none;
                background-color: transparent;
                font-size: 20px;
                padding: 10px;
            }

            &__left {
                display: flex;
                justify-content: center;
                flex-direction: column;

                h6 {
                    width: 240px !important;
                }

                img {
                    display: none;
                }

                .respLogo {
                    display: block;
                    width: 93px;
                }
            }

            &__middle {
                width: 100%;

                &__location {
                    display: none;
                }

                // width: 100%;
                input {
                    margin-left: 60px;
                    width: 100%;
                }

                [placeholder~="Search"] {
                    background-position: 97%;
                }
            }

            &__right {
                gap: 20px;
                justify-content: flex-end;
                width: fit-content;
            }
        }
    }

}

@media(max-width:765px) {
    .container {
        width: 100%;
    }

    header {
        .header__bottom {
            display: flex;
            justify-content: space-between;
            margin: 0;

            .respBurger {}

            &__left {

                .respLogo {
                    margin: 0 auto;
                }

                h6 {
                    display: none;
                }
            }

            &__middle {
                display: none;
            }

            &__right {
                padding: 0;

                &__user {
                    display: none;
                }
            }
        }
    }

}



.map {
    &__wrapper {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;

        &__left {

            &__list {
                padding: 18px 0;
                border: 1px solid rgb(202, 202, 202);
                border-top: 0;
                width: 268px;

                li {
                    text-decoration: none;
                    padding: 10px 25px;
                    gap: 10px;
                    display: flex;
                    align-items: center;
                    width: fit-content;

                    a {
                        text-decoration: none;
                        color: rgb(62, 68, 90);
                        font-size: .8rem;
                        display: flex;

                        .mapChev {
                            font-size: 10px !important;
                        }

                    }

                    i {
                        color: rgb(113, 114, 119);

                        &:first-child {
                            margin-right: 10px;
                            font-size: 18px;
                        }
                    }

                    &:hover {

                        a,
                        i {

                            opacity: .7;
                            transition: .4s;
                            color: #2bbef9;
                        }
                    }

                }

            }

            &__bottom {
                padding: 18px 0;
                border: 1px solid rgb(202, 202, 202);
                border-top: 0;
                width: 268px;

                li {
                    padding: 10px 25px;
                    transition: .4s;
                    width: fit-content;

                    a {
                        text-decoration: none;
                        font-size: .8rem;
                        color: rgb(62, 68, 90);
                        font-weight: 500;
                        transition: .4s;
                    }

                    &:hover {
                        a {

                            opacity: .7;
                            transition: .4s;
                            color: #2bbef9;
                        }
                    }
                }
            }
        }

        &__right {
            padding: 10px;
            background-color: none;
            height: 486px;

            overflow: hidden;

            .owl-carousel {
                .owl-item {
                    background: none !important;
                }

                a {
                    position: relative;

                    .map__wrapper__right__contentOnImage {
                        position: absolute;
                        top: 17%;
                        left: 10%;

                        span {
                            font-size: 2rem;
                            font-weight: 500;
                            font-size: 0.75rem;
                            font-family: "Dosis", sans-serif;
                            letter-spacing: 1px;
                            color: rgb(32, 36, 53)
                        }

                        .map__discount {
                            margin-left: 10px;
                            padding: 8px 20px;
                            border-radius: 20px;
                            color: #038e42;
                            background: rgb(85, 199, 146);
                            background: -moz-linear-gradient(left, rgba(85, 149, 146, 1) 0%, rgb(172, 241, 158) 0%, rgba(170, 249, 159, 0.85) 25%, rgba(183, 251, 178, 0.82) 46%, rgba(207, 254, 213, 0.78) 84%, rgba(217, 255, 227, 0.76) 99%, rgba(255, 255, 255, 0.76) 100%);
                            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(85, 199, 146, 1)), color-stop(0%, rgba(154, 247, 136, 1)), color-stop(25%, rgba(170, 249, 159, 0.85)), color-stop(46%, rgba(183, 251, 178, 0.82)), color-stop(84%, rgba(207, 254, 213, 0.78)), color-stop(99%, rgba(217, 255, 227, 0.76)), color-stop(100%, rgba(255, 255, 255, 0.76)));
                            background: -webkit-linear-gradient(left, rgba(85, 149, 146, 1) 0%, rgba(172, 241, 158, 1) 0%, rgba(170, 249, 159, 0.85) 25%, rgba(183, 251, 178, 0.82) 46%, rgba(207, 254, 213, 0.78) 84%, rgba(217, 255, 227, 0.76) 99%, rgba(255, 255, 255, 0.76) 100%);
                            background: -o-linear-gradient(left, rgba(85, 149, 146, 1) 0%, rgba(172, 241, 158, 1) 0%, rgba(170, 249, 159, 0.85) 25%, rgba(183, 251, 178, 0.82) 46%, rgba(207, 254, 213, 0.78) 84%, rgba(217, 255, 227, 0.76) 99%, rgba(255, 255, 255, 0.76) 100%);
                            background: -ms-linear-gradient(left, rgba(85, 149, 146, 1) 0%, rgba(172, 241, 158, 1) 0%, rgba(170, 249, 159, 0.85) 25%, rgba(183, 251, 178, 0.82) 46%, rgba(207, 254, 213, 0.78) 84%, rgba(217, 255, 227, 0.76) 99%, rgba(255, 255, 255, 0.76) 100%);
                            background: linear-gradient(to right, rgba(85, 149, 146, 1) 0%, rgba(172, 241, 158, 1) 0%, rgba(170, 249, 159, 0.85) 25%, rgba(183, 251, 178, 0.82) 46%, rgba(207, 254, 213, 0.78) 84%, rgba(217, 255, 227, 0.76) 99%, rgba(255, 255, 255, 0.76) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55c768', endColorstr='#ffffff', GradientType=1);
                        }

                        h1 {
                            font-weight: 700;
                            font-size: 2.8rem;
                            color: rgb(32, 36, 53);
                            width: 410px;
                            padding: 20px 0 15px 0;
                            line-height: 60px;
                        }

                        p {
                            color: rgb(32, 36, 53);
                            font-weight: 400;
                            font-size: 1rem;
                            padding-bottom: 40px;
                        }

                        .map__wrapper__right__price {
                            color: rgb(213, 18, 67);
                            font-size: 2.3rem;
                            font-weight: 600;
                        }

                        div {
                            display: flex;
                            margin-bottom: 10px;
                        }

                        button {
                            padding: 12px 23px;
                            background-color: #2bbef9;
                            border: none;
                            border-radius: 20px;
                            color: white;
                            font-size: 14px;

                            i {
                                color: white !important;
                            }
                        }
                    }
                }
            }
        }
    }



    @media(max-width:1200px) {
        .container {
            width: 100%;
        }

        .map {
            &__wrapper {
                &__left {
                    display: none;
                }

                &__right {}
            }
        }

    }

    @media(max-width:992px) {
        .container {
            width: 100%;
        }

        .map {
            &__wrapper {
                &__left {
                    display: none;
                }

                &__right {
                    .owl-carousel {
                        img {
                            object-fit: cover;
                            object-position: center;
                        }

                        .owl-item {
                            width: 100%;
                            height: 267px;
                            padding: 0;
                        }

                        a {
                            position: relative;

                            .map__wrapper__right__contentOnImage {
                                position: absolute;
                                top: 5%;
                                left: 10%;

                                .map__discount {
                                    margin-left: 10px;
                                    padding: 0 20px;
                                }

                                h1 {
                                    font-size: 1.5rem;
                                    padding: 0;
                                }

                                p {
                                    padding-bottom: 30px;
                                }

                            }

                        }
                    }

                }
            }
        }

    }
}

.bestSellers {
    padding: 30px 15px;
    display: flex;

    &__left {
        img {
            width: 270px;
            border-radius: 6px;
        }
    }

    &__right {
        width: 100%;
        padding: 0 28px;

        &__top {
            display: flex;
            justify-content: space-between;

            a {
                text-decoration: none;
                padding: 5px 20px;
                border: 1px solid #9b9bb4;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #9b9bb4;
                font-size: 12px;
                gap: 10px;
                transition: .3s;

                i {
                    font-size: 12px;
                }

                &:hover {
                    color: black;
                    transition: .3s;
                }
            }

            h4 {
                font-size: 1.25rem;
                font-family: "Dosis", sans-serif;
                font-weight: 600;
            }

            p {
                font-size: .75rem;
                color: #9b9bb4;
                padding-top: 5px;
            }
        }
    }
}

.active {
    padding: 5px 18px;
    background-color: rgba(43, 190, 249, .1);
    color: #2bbef9;
    border-radius: 20px;

    i {
        color: #2bbef9 !important;
    }
}